body {
	background-color: yellow;
	font-family: sans-serif;
}
h1 {
	color: blue;
}
h2 {
	color: red;
}
th {
	text-align: left;
}
img {
	margin: 10px;
	border: 10px ridge red;
}
#first-para {
	color: green;
}
#amazing {
	font-family: cursive;
	font-size: 1.2em;
}
#cub-picture {
	float: left;
	padding: 3px;
	border: 4px;
	border: 1px solid black;
}
.intro-para {
	color: fuchsia;
}
.things-list {
	font-style: italic;
}
.left-heading {
	font-weight: bold;
}
.very-important {
	color: red;
	font-style: italic;
}
.very-interesting {
	font-family: fantasy;
}
#ppl-vs-nppl {
	width: 50%;
	height: 100px;
	overflow-y: scroll;
}
#toc {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	position: fixed;
	left:0;
	height: fit-content;
	overflow: auto;
}
#toc a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
#toc li {
	text-align: center;
	border-bottom: 1px solid #555;
}
#toc a:hover {
	background-color: #555;
	color: white;
}

#main-page {
	margin-left:200px;
	padding-left:6px;
}

.form{
	width: 50%;
	margin: auto;
	margin-top: 10%;
}

form{
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

input{
	width: 100px;
	margin: 1%;
}